.homePage{
    display:flex;
    align-items: center;
    justify-content: center;
    width:80%;
    margin:auto;
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
    margin-top: 10%;
}

.homePageImageContainer{
    width:50%;
    margin: 5%;
    
}
.HomePageImage{
    width:100%;
    align-items: center;

}
.homePageContent{
    width:50%;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin:5%;
    
}
.modal{
    margin:20px;
    text-align: justify;
}

@media screen and (max-width: 768px) {

    .homePageContent{
        width:100%;
        font-family: 'Times New Roman', Times, serif;
        text-align: justify;
        margin:5%;
        
    }
    .homePageImageContainer{
        width:100%;
        margin: 5%;
    }
    .homePage{
        display:flex;
        align-items: center;
        justify-content: center;
        margin:auto;
        width: 80%;
        flex-direction: column;
    }
}